/*colors
blue-#0B4E8C rgba(209,210,215,.7);
dark grey- #7f8591 rgba(127,133,145,.7);
fork color #786d6b rgba(120,109,107,.7);


*/

* {
	box-sizing: border-box;
}
body { 
	margin: 0;
	background-color: #FFFFFF /*rgba(209,210,215,.7)*/;
	}

img {
width: 100%;
}

p, a {
	font-family: 'PT Sans', sans-serif;
}

h1, h2, h3, h4, label {
	font-family: 'Lato', sans-serif;
}

h1 {
	font-weight: 400;
}

.sectionspace {
	padding-bottom: 20px;
}

/********************************************/
				/* SECTIONS */
/********************************************/

					/*LOGO*/

.logo { 
	background-color: white;
	width: 	
 }
.logo img { 
	width: 100%; }

					/*HEADER*/
header {

	/*	height: 18vh;*/
	/*font-family: 'Rochester', cursive;*/
	background-image: url("../img/background.jpg");
	padding: 30px 0;
	background-size: cover;
	overflow: auto;margin-bottom: 0;
	/*	height: 50vh;*/
}

header h1 {
	color: white;
	font-size: 1.8em;
	font-family: 'Lato', sans-serif;
	font-weight: 400;
	text-align: center;
	padding-top: 30px;


}
.location, .term { 
	color: black;
	font-size: .9em;
	font-family: 'Lato', sans-serif;
	font-weight: 300;
	text-align: left;
	padding: 15px  0 5px;
	border-bottom: 1px solid #0B4E8C;
 }

.term {
	border-bottom: none;
	padding-top: 8px;
	float: right;
	margin: 0 auto;
	padding-left: 220px;
}

					/*SECTION1*/

.section1 {
	padding-top: .8em;
	padding-bottom: 1em;
	margin: 0 auto;
}
.section1 h1 {
	color:black;
	font-size: 1.5em;
	padding: 10px 0;
}
.section1 p {
	font-size: .9em;
	padding-bottom: 8px;
	color: black;
}

.yellow {
	background-color: #E8B440; /* yellow */
	width: 100%;
}

.section1 ul{
	text-decoration: none;
}

.section1 li p{
	padding-top: 0;
	padding-bottom: 4px;
	text-decoration: none;
}
.section1 li a,a {
	text-decoration: none;
	color: black;
	padding-bottom: 0;
}
.section1 a { color:white; }
.pad {
		padding-bottom: 18px;
}

.pad0 { padding-bottom: 0; }



	/*section 1 button */


.button {
    background-color: #E8B440; /* yellow */
    border: none;
    color: white;
    padding: 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 8px 40px;
    cursor: pointer;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    width: 100%;
    margin: 0 auto;

}.button2:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}
button a { color: white }


					/*SECTION2*/

.section2 {
	padding-top: .8em;
	padding-bottom: 1em;
	margin: 0 auto;
}

.section2 h2 {
	color: black;
	font-size: 1em;
	padding: 0;

}

					/*SECTION2*/

.section3 {
	padding-top: .8em;
	padding-bottom: 1em;
	margin: 0 auto;
	display: inline-block;
}

.section3 h2{
	color: black;
	font-size: 1em;
	padding: 0;
}	

.section3 p {
	font-size: .8em;

	/*section 1 TABLE */





					/*FOOTER*/
}

footer {
	background-color: #0a4b8c;
	padding: 30px;
}
.footer{ 
	font-weight: 400;
	font-style: normal;
	font-variant: normal;
	text-transform: none;
	text-decoration: none ;
	text-align: center;
	text-indent: 0px;
	color:white;
	font-size: .9rem;

}

.social {
	list-style: none;
    text-align: center;
    border-bottom: .125rem solid #fff;
    padding: 1rem 0;
}

.icon {
	    display: inline-block;
    vertical-align: middle;
}

.footer a{ 
	font-size: .9rem;
	padding: 24px;

 }

 footer p{
 	text-align: center;
 	font-family: 'PT Sans', sans-serif;
 }

/* Add a hover effect if you want */
footer.fa:hover {
    background-color: yellow;
}




				/*CONTACT*/	
	.contact {
		background-color: #0a4b8c;
		/*overflow: auto;*/
	/*	padding: 20px 20px 40px;*/
	/*	border-radius:50px;*/
		margin-bottom: 20px;
	/*	margin-top: 20px;*/
	}

	input[type=text], select, textarea {
	    width: 100%;
	    padding: 12px;
	    border: 1px solid #ccc;
	    border-radius: 4px;
	    box-sizing: border-box;
	    margin-top: 6px;
	    margin-bottom: 16px;
	    resize: vertical;
	}

	input[type=submit] {
	    background-color: #E8B440; /* yellow */
	    color: white;
	    padding: 12px 20px;
	    border: none;
	    border-radius: 4px;
	    cursor: pointer;
	}

	input[type=submit]:hover {
	    background-color: #45a049;
	}

	.container {
	    border-radius: 10px;
	    background-color: #f2f2f2;
	    padding: 20px;
	}
.contact h3 {
	color: #E8B440;
	font-size: 1.5em;
	padding-top: 0;

}

.label {
	font-size: 1em;
}


/*************************
NAVIGATION
**************************/
.navButton {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 1001;
	padding: .5em;
	background-color: white/*rgba(100,72,18,.3)*/;
	border-bottom:  5px solid #0a4b8c; /* yellow */
	/*background-color:rgba(0,128,0,.2);*/
	/*border: solid #aaa;*/
/*	border-width: 0 0 1px;*/
}

.navButton a {
	color: black;
	text-decoration: none;
	padding: 0 0 0 .5em;
}
.fa-bars{ color: #E8B440; /* yellow */ }


i {
 	font-size: .6em;
 	color: black;
 	padding: 0 1em 0 0;
 	transition: color .5s;
 }

i:hover {
 	color: #333;
 }

 #nav {
 	position: fixed;
 	top: 2em;
 	left: -72%;
 	width: 72%;
 	margin: 0;
 	height: 100%;
 	background-color: #333;
 	background-color: rgba(0,0,0,.84);
 	transition: left .5s;
}

#nav:target {
	left: 0;
}

nav {
	z-index: 1000;
}

nav ul {
	margin: 0;
	padding: 0;
	margin-top: .5em;
}
nav li {
	list-style: none;
	margin: 0;
	padding: 0;	
}

nav li a {
	color: white;
	text-decoration: none;
	display: block;
	padding: .5em 1em;
	transition: all .5s;
}

nav li a:hover {
	text-decoration: none;
	background-color:rgba(127,133,145,.7);
	/*background-color:rgba(0,128,0,.7);*/
	color: #eee;
}

/* produces a blank line in mobile nav, but is
hidden when on wider screens. */
.hiddenLink {
	display: block;
}




.grid_11 {
	margin: 0 auto;
}

/********************************************/
/* MEDIA QUERIES */
/********************************************/

@media only screen and (min-width: 30em) {
	
		
		/*			NAVIGATION		*/

	.navButton {
		display: none;
	}

	#nav {
	 	margin: 0;
	 	width: 100%;
	 	height: auto;
	 	background-color: transparent;
	 	position: static;
	}

	nav {
		margin: 0;
	}

	nav ul {
		text-align: center;
		margin: 0;
	}

	nav li {
		display: inline;
	}

	nav li a {
		display: inline-block;
		padding: .5em 1em;
		color: black;
	}

	.hiddenLink {
		display: none;
	}
@media only screen and (min-width: 50em) {

	.term {
		padding-left: 480px;
	}

